<a href="https://colab.research.google.com/github/suryateja745/shapeAI_python_Machine_learning/blob/main/G_suryateja.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import sklearn

Now we will load the data that we will be using to train our model

dict_keys( ['data', 'target', 'feature_names', 'DESCR',

Here we are using boston house pricing dataset which is available in the 
sklearn liberary itself.

In [ ]:
from sklearn.datasets import load_boston
df = load_boston()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df.keys()  #Returns all the keys of the  dataset dictionary

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename', 'data_module'])

dict_keys(['data','target', 'feature_names',. 'DESCR', 'filename'])

In [ ]:
print(df.filename)  # Info about the dataset

boston_house_prices.csv

.. _boston_dataset:
Boston house prices dataset
---------------------------

**Data Set Characteristics:**

     :Number of Attributes: 13 numberic/categorical predictive. Median Val

     : Attribute Information (in order):
       -CRIM        per capita crime rate by town
       -ZN          proportion of residential land zoned for lots over 25,
       -INDUS       proportion of non-retail business acres per town

       -CHAS         Charles River dummy variable  (= 1 if tract bounds river;0 otherwise)
       -NOX         nitric oxides concentration  (parts per 10millons
       -RM          average number of rooms per dwelling
       -AGE         proportion of owner-occupied units built prior to 1940
       -DIS         weighted distance to five Boston employment centres
       -RAD         index of accessibility to radial highways
       -TAX         full-value property-tax  rate per  $10,000
       -PTRATIO     pupil-teacher ratio by town 
       -B           1000(BK  - 0.63)^2 where BK is the proportion of blacks by town
       -LSTAT       % lower status of the population
       -MEDV        Median  value of owner-occupied homes in $1000's

       :Missing   Attribute values: None

       :Creator:    Harrision, D.  and Rubinfeld,  D.L.
   This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/m1/machine-learning-databases/housing/
This dataset was taken from the startLib library which is maintained at c

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic prices and the demand for the clean air', J. Environ. Economics & Management,vol.5, 81-102, 1978.  used in Belsey, kuh & welsch, 'Regression dignos...',Wiley, 1980.  N.B. various transformations are used in the table of pages 244-261 of the latter.
The Boston house-price data has been used in many machine learning papers problems.

.. topic:: References
     
       -Belsley, kuh & welsch, 'Regression dignostics: Identifying Influences
       -Quinlan,R.  (1993). Combining Instance-Based and Model-Based Learning

In [ ]:
boston = pd.DataFrame(df.data, columns=df.feature_names)
boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [ ]:
boston['MEDV'] = df.target
boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

Check if the dataset contains any null value or not

In [ ]:
boston.isnull()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,False,False,False,False,False,False,False,False,False,False,False,False,False,False
502,False,False,False,False,False,False,False,False,False,False,False,False,False,False
503,False,False,False,False,False,False,False,False,False,False,False,False,False,False
504,False,False,False,False,False,False,False,False,False,False,False,False,False,False
505,False,False,False,False,False,False,False,False,False,False,False,False,False,False

Isnull return True or False for each of the cell in the dataframe,but we can't go exploring all the cells to look for True values if any,so we use sum().function to count all the cells with True value(i.e.Null cells)

In [ ]:
boston.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

We never train the model on the data that we have,we always make sure to atleast have a test dataset,which is different from the training dataset.

In [ ]:
from sklearn.model_selection import train_test_split

X = boston.drop('MEDV', axis=1)
Y = boston['MEDV']

X_train, X_test, Y_train, Y_test  = train_test_split(X, Y, test_size = 0.15, random_state=5)

print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(430, 13)
(76, 13)
(430,)
(76,)

Now let's import the Linear Regression model from sklearn and train it on the training dataset

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [ ]:
## FITTING MODEL ON THE TRAINING DATASET

lin_model = LinearRegression()

lin_model.fit(X_train, Y_train)

LinearRegression()

In [ ]:
y_train_predict = lin_model.predict(X_train)
rmse = (np.sqrt(mean_squared_error(Y_train, y_train_predict)))
print("The model performance for training set")
print('RMSE is {}'.format(rmse))
print("\n")

# on testing set
y_test_predict = lin_model.predict(X_test)
rmse = (np.sqrt(mean_squared_error(Y_test, y_test_predict)))

print("The model performance for testing set")
print('RMSE is {}'.format(rmse))

The model performance for training set
RMSE is 4.710901797319796


The model performance for testing set
RMSE is 4.687543527902972

In [ ]:
[]

[]